*{
    padding: 0px;
    margin: 0px;
    font-family:ProximaNova,Arial,sans-serif;
    box-sizing: border-box;
}

h1{
    color: rgb(0, 0, 0);
    padding-top: 150px;
    margin-left: 50px;
 
  
    
}
.viaja{
    text-align: center;
    margin-bottom: 15px;
    font-size:50px;
}

.lugares{
    border: solid 2px black;
    width: 10%;
    text-align: center;
    background-color: aliceblue;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 100px;
    margin-top: 30px;
    
    
   
}



    

.brasil,.espana,.japon,.francia{
    
    width: 100%;
    border-radius: 7px;
    height: 158px;
    
   
}



.abc{
    display: flex;
    border: solid 2px black;
    width: 100%;
    padding: 30px;
    text-align: left;
    background-color: rgb(115, 115, 221);
    position: fixed;
    margin-bottom: 300px;
    z-index: 4;
    justify-content: start;
}

.a{
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    
}
.b{
   
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    color:aliceblue;
    margin-top:10px;
    
}

.c{
  
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
    color: aliceblue;
    margin-top:10px;
    
}

.nav:hover{
    color: rgba(255, 255, 255, 0.664);
    
}



.todo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tod {
    border: solid 1px rgb(216, 215, 215);
    height: 400px;
    width: 300px;
    margin:10px 20px;
    border-radius: 7px;
    
}
.tod:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.todo1 h2,h4,h5{
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
}
.todo2 h2,h4,h5{
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
}
.todo3 h2,h4,h5{
    padding-left: 10px;
    padding-top: 20px;
    font-size: large;
}
.todo4 h2,h4,h5{
    padding-left: 10px;
    padding-top: 20px;
    font-size: large}



.todo1a{
    background-color: azure;

   
}
.map{
    margin-top: 20px;
    margin-left: 50px;
    
}


.nos{
    color: rgb(0, 0, 0);
    padding-top: 75px;
    margin-left: 50px;
    padding-bottom: 50px;
    width: 100%;
}
ul{
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}
h3{
    margin-top: 20px;
    margin-left: 50px;
}
.inputs{
    margin-top: 20px;
    margin-left: 50px;
   
}
.input1{
margin-top: 15px;
margin-bottom: 15px;

}
.input2{
margin-bottom: 15px;
}
.input3{
margin-bottom: 15px;
}
.gmail{
    margin-left: 30px;
    width: 300px;
    height: 30px;

}
.name{
    width: 300px;
    height: 30px;
    margin-left: 15px;

}
.apellido{
    margin-left: 15px;
    width: 25%;
    height: 30px;
}
.mensaje{
    margin-left: 12px;
    width: 300px;
    height: 80px;
    padding: 20px 0px 40px 0px;
}
.li{
    margin-bottom: 125px;
}
.problema{
    margin-bottom: 60px;
}
.nos{
 padding-top: 150px;
}
    

.link {
    color: var(--color-secondary-dark);
    text-decoration: none;
    font-size: 14px ;
    
}

hr {
    display: flex;
    flex-direction: row;
    align-items:end;
    height: 1px;
    width: 100%;
    background-color: rgb(173, 174, 175) ;
    border: none;
    
}
.todo1 h5{
    font-size:larger;
}
.todo2 h5{
    font-size:larger;
}
.todo3 h5{
    font-size:larger;
}
.todo4 h5{
    font-size:larger;
    

}
.espacio{
    width: 100%;
    height: 35px;

}




.carrusel{
      height: 500px;
}

.pie{
    background-color: rgb(115, 115, 221);
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
    
    
    
}
.info{
    color: aliceblue;
    margin: 50px;
    width: 25%;
}
.pg{
    color: aliceblue;
    margin: 100px;
    width: 25%;
    margin-top: 130px;
    margin-left: 20px;
    
}
.redes{
    color: aliceblue;
    width: 25%;
    margin: 30px;
    margin-top: 110px;
    
}
i{
    margin: 30px;
    color: aliceblue;
    
}
.ig:hover{
    color: violet;
}
.wa:hover{
    color: green;
}
.fb:hover{
    color: blue;
}
.pg ul li{
    text-decoration: none;
    color: aliceblue;
    
    
}
.copyright{
    color: aliceblue;
    margin: 25px;
    margin-top: 100px;
    
}
.logo-footer{
    width: 64px;
    height: 64px;
    border-radius: 30px;
    margin-bottom: 25px;
    
}
.logo{
        width: 64px;
        height: 64px;
        border-radius: 30px;
}
.sucursales{
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    margin: 25px;
    padding: 10px;
    
}
.sucursales:hover{
    background-color: rgb(207, 207, 207);
}

.todo-sucursales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mapa-sucursal{
    width: 580px;
    height: 300px;
}

.todo-nosotros{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
    
   
}
.contacto-nosotros{
    width: 600px;
    
    
    
}
.problema-nosotros{
    width: 600px;
    
    
    
} 
.galeria{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(6,200px) ;
    grid-template-areas: "img1 img2 img3 img4"
                         "img1 img2 img3 img4"
                         "img5 img5 img3 img4"
                         "img5 img5 img3 img4"
                         "img5 img5 img3 img4"; 
    
}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.consulta-nosotros{
    margin-left: 15px;
}
button{
    width: 100px;
    margin-left: 170px;
    margin-top: 15px;
}
@media(max-width:1200px){

}
@media(max-width:992px){
    .lugares{
        width: 150px;
    }
    i{
        margin: 20px;
    }
    .galeria{
        width: 90%;
        margin: 5%;
    }
}
@media(max-width:768px){
    .pg{
        width: 50%;
    }
    .redes{
        width: 50%;
    }
    .galeria{
        height: 60%;
    }
}
@media(max-width:576px){
    .lugares{
        margin-top: 0px;
    }
}